/* @font-face {
    font-family: "Breath Fire";
    src: url('/font/BreatheFireIii-PKLOB.ttf') format('truetype');
} */

body {
    color: #fa3a00;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("./img/background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #20191b;
}

ul {
    padding: 0;
    list-style-type: none;
}

.character-title {
    font-family: "Comic Sans MS", "Comic Sans", cursive ;
}

.character-container {
    width: 500;
    /* padding-left: 10%;
    padding-right: 10%; */
}

.character-card {
    background:#7f7f7f;
    background:rgba(255,255,255,0.7);
    width: 250px;
    /* height: 70px; */
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    color:black;
    font-weight: bold;
}

.tally-down-button {
    width: 20px;
}

.tally-up-button {
    width: 20px;
}